.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  font-family: 'Roboto', sans-serif;
}

.formContainer {
  flex-basis: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius: 4px;
  max-width: 500px;
  margin-top: 5rem;
}

.sideImage {
  /* Assuming create-react-app's Webpack config where you can reference images */
  background-image: url('./../images/PhotoRegister.jpg'); /* Update the path if needed */
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.inputField {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  margin-right:15px;
  width: calc(100% - 30px);
}

.submitButton {
  padding: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #5cb85c;
  color: white;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #4cae4c;
}

.errorMessage {
  color: red;
  font-size: 0.9em;
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .registerPage {
    flex-direction: column-reverse;
  }

  .formContainer,
  .sideImage {
    flex-basis: 100%;
  }
}
.sideImageAfter {
  background-size: cover;
  background-position: center;
  flex-basis: 50%; /* You can adjust this value based on your layout needs */
}
.loginRedirectButton {
  background-color: #007bff; /* Bootstrap primary blue */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  display: block; /* To make it a block element like the login button */
  width: 100%; /* Match width with the login button */
  border-radius: 4px; /* Assuming you have rounded corners */
  font-size: 1rem; /* Adjust size as needed */
  text-align: center;
}

.loginRedirectButton:hover {
  background-color: #0056b3; /* A darker shade for hover effect */
}